<!DOCTYPE html>
<html>
  <head>
    <title>OTPA EE2 交接本</title>
    <%- include( 'head.ejs' ); %> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

  </head>
  <body>
    <h1><%= title %></h1>

    <form id = 'page' action = '/PM_Follow' method = 'post'>
      <input type = button value = 'PVD交接' onclick = 'PVD()'>
      <input type = button value = 'PM交接' onclick = 'PM()'>
    </form>

    <a>
      <div>
        <p>日期：<input type = date id = "date" name = 'date' >
        <input type = button value = '日班' onclick = 'GetDSDate()' >
        <input type = button value = '小夜' onclick = 'GetDSDate()' >
        <input type = button value = '夜班' onclick = 'GetNSDate()' >
        </p>
      </div>

      <div>
        <label for = "tags"> 機台：</label> <input id = "tags">
        <br>
        <input text id = 'Sponser' value = 'Sponser:' >
        <br>
        <input text id = 'Action' value = 'Action:'>
      </div>
      <input type = button value = '新增' onclick = 'AddData()' >
    </a>  

    <table border="1">
      <thread>
        <td>日期</td>
        <td>機台</td>
        <td>Sponser</td>
        <td>Action</td>
      </thread>
      <tbody></tbody>
    </table>

    <script>
      let data = [
        ['2022/10/11', 'B13', 'A', 'chang'],
        ['2022/10/22', 'B88', 'B', 'nothing']
      ]
      
      let tbody = document.querySelector( 'tbody' )
      for ( let i = 0; i < data.length ; i++ ) {
        let tr = document.createElement('tr')
        tbody.appendChild(tr)
        for (let j = 0; j < data[i].length; j++) {
          let td = document.createElement('td')
          td.innerHTML = data[i][j]
          tr.appendChild(td)
        } // for
      } // for

      // --------------------------------------

      

    </script>
    

  </body>

  
</html>