<!DOCTYPE html>
<html>
  <head>
    <title>OTPA EE2 交接本</title>
    <%- include( 'head.ejs' ); %> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

  </head>
  <body>
    <h1><%= title %></h1>

    <form id = 'page' action = '/PM_Follow' method = 'post'>
      <input type = button value = 'PVD交接' onclick = 'PVD()'>
      <input type = button value = 'PM交接' onclick = 'PM()'>
    </form>

    <section>
      <table class = 'TableForm' >
      <p>日期：<input type = date id = "date" name = 'date' >
        <input type = radio name = 'class' id = '日班' onclick = 'GetDSDate()' >
        <label for = '日班'>日班</label>
        <input type = radio name = 'class' id = '小夜'onclick = 'GetDSDate()' >
        <label for = '小夜'>小夜</label>
        <input type = radio name = 'class' id = '夜班'onclick = 'GetNSDate()' >
        <label for = '夜班'>夜班</label>
      </p>
      <label for = "tags"> 機台：</label> <input id = "tags">
      <br>
      <label>Sponser :</label>
      <input text id = 'Sponser' >
      <br>
      <label>Action :</label>
      <textarea id = 'Action'> </textarea>>
      <input type = button value = '新增' onclick = 'AddData()' >
      </table>
    </section>  

    <form>
      <table class = 'entryForm' border="1">
        <thead>
          <th>日期</th>
          <th>機台</th>
          <th>Sponser</th>
          <th>Action</th>
        </thead>
        <tbody></tbody>
      </table>
    </form>

    <script>
      let data = [
        ['2022/10/11', 'B13', 'A', 'chang'],
        ['2022/10/22', 'B88', 'B', 'nothing']
      ]
      
      let tbody = document.querySelector( 'tbody' )
      for ( let i = 0; i < data.length ; i++ ) {
        let tr = document.createElement('tr')
        tbody.appendChild(tr)
        for (let j = 0; j < data[i].length; j++) {
          let td = document.createElement('td')
          td.innerHTML = data[i][j]
          tr.appendChild(td)
        } // for
      } // for

      // --------------------------------------

      

    </script>
    

  </body>

  
</html>