<!DOCTYPE html>
<html>
  <head>
    <title>OTPA EE2 交接本</title>
    <%- include( 'head.ejs' ); %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <h1><%= title %></h1>

    <form id = 'page' action = '/PM_Follow' method = 'post'>
      <input type = button value = 'PVD交接' onclick = 'PVD()'>
      <input type = button value = 'PM交接' onclick = 'PM()'>
    </form>

    <a>
      <div>
        <p>日期：<input type = date id = "date" >
        <input type = button value = '日班/小夜' onclick = 'GetDSDate()' >
        <input type = button value = '夜班' onclick = 'GetNSDate()' >
        </p>
      </div>

      <div>
        <label for = "tags"> 機台：</label> <input id = "tags">
      </div>
    </a>  
    
    
</html>