body { background: #f6f6f6;}.split{
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a:hover {
  color: #aeaeae;
  font: 14px;
}

table.entryForm{
  width: 100%;
  border: #f6bb9e 2px solid;
}

.entryForm th,
.entryForm td {
  padding: 5px 10px;
  border: #f6bb9e 1px solid;
}
